body{
    background-image: url("backdrnd.jpg");
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.cancelbtn {
    width: 100%;
}
form {
    display: block;
    margin: auto;
    width: 30%;
    height: 400px;
    width: 30%;
    background-color
    position: relative;
    left: 30px;
    border: 4px solid ;
    border-radius: 4px;
}
