body{
    background-image: url("background.jpg");
}


imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.cancelbtn {
    width: 100%;
}
form {
    display: block;
    margin: auto;
    width: 40%;
}